{% extends 'base.html.twig' %}

{% block body %}

    <header class="masthead">
      <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading">Want to learn Symfony?</h1>
          <hr>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="https://www.meetup.com/phpcali/join">Join Us!</a>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">We are the biggest Symfony meetup in Latin America!</h2>
            <hr class="light">
            <p class="text-faded">
            This is a group for anyone interested in Symfony and its <a target="_blank" href="https://symfony.com/projects">ecosystem</a>: Laravel, Drupal, phpBB, Joomla, etc.

            Hang out and discuss Symfony tips, tricks, hacks, and anything related to web development, no matter if you are beginner or experienced developer, or just come if you want to have a beer and talk about <del>code</del> why Ruby sucks.

            Meetups are totally free and everybody is welcome to attend, just make sure to RSVP on <a href="https://www.meetup.com/phpcali">meetup.com/phpcali</a>.

            If you give a talk you get our awesome Meetup t-shirt!
            </p>
            <a class="btn btn-default btn-xl js-scroll-trigger" href="https://www.meetup.com/phpcali/join">Join Us!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Sponsors</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
              <a href="http://el-lab.co/" target="_blank"><img src="/images/sponsors/ellab.png"></a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
              <a href="https://www.scalablepath.com/" target="_blank"><img src="/images/sponsors/scalablepath.png"></a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
              <a href="https://www.github.com" target="_blank"><img src="/images/sponsors/github.png"></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" id="portfolio">
      <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="images/portfolio/fullsize/1.jpg">
              <img class="img-fluid" src="images/portfolio/thumbnails/1.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Php Cali
                  </div>
                  <div class="project-name">
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="images/portfolio/fullsize/2.jpg">
              <img class="img-fluid" src="images/portfolio/thumbnails/2.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Php Cali
                  </div>
                  <div class="project-name">
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="images/portfolio/fullsize/3.jpg">
              <img class="img-fluid" src="images/portfolio/thumbnails/3.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Php Cali
                  </div>
                  <div class="project-name">
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="images/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="images/portfolio/thumbnails/4.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Php Cali
                  </div>
                  <div class="project-name">
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="images/portfolio/fullsize/5.jpg">
              <img class="img-fluid" src="images/portfolio/thumbnails/5.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Php Cali
                  </div>
                  <div class="project-name">
                  </div>
                </div>
              </div>
            </a>
          </div>

         <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="images/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="images/portfolio/thumbnails/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Php Cali
                  </div>
                  <div class="project-name">
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <div class="call-to-action bg-dark">
      <div class="container text-center">
        <h2>"If you can't explain it simply, you don't understand it well enough." – Albert Einstein</h2>
      </div>
    </div>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Want to be a speaker? Want to be a Sponsor?</h2>
            <hr class="primary">
            <p>Just send a tweet to <a href="https://twitter.com/gigo6000">@gigo6000</a> or <a href="https://twitter.com/symfonycol">@symfonycol</a> or contact the organizers on <a href="https://www.meetup.com/phpcali">meetup.com/phpcali</a> and we will get back to you as soon as possible!</p>
          </div>
        </div>
      </div>
    </section>


{% endblock %}
{% block javascripts %}
<script>
//$(document).ready(function(){

//});
</script>
{% endblock %}
